header {
  width: 100%;
  height: 9vw;
  background: #282828;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

header img {
  height: 9vw;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 5vw;
  margin-right: 5vw;
  margin-left: 15vw;
}

header nav a, header nav button {
  padding: 1.2vw;
  background: #282828;
  text-decoration: none;
  border: 3px solid orange;
  color: orange;
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
}

header nav a:hover, header nav button:hover {
  background: rgba(255, 166, 0, 0.5);
  color: black;
}

header nav a:active, header nav button:active {
  background: red;
  border: 3px solid red;
}

header nav .navbar-a_active {
  background-color: orange;
  color: black;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 19vw 1fr auto;
      grid-template-rows: 19vw 1fr auto;
  padding: 0;
  margin: 0;
  background: linear-gradient(36deg, pink, orange, violet, purple);
  font-family: calibri;
  background-attachment: fixed;
}

body .modal-bg_fade {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

body .modal-bg_fade .contact-window {
  position: absolute;
  top: 20vw;
  left: 6vw;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: #282828;
  padding: 4vw;
  border-radius: 2vw;
}

body .modal-bg_fade .contact-window .close-button {
  cursor: pointer;
  font-size: 5vw;
  position: relative;
  color: orange;
  float: right;
}

body .modal-bg_fade .contact-window .close-button:hover {
  color: red;
}

body .modal-bg_fade .contact-window .contact-window_underline {
  width: 30vw;
  height: 6px;
  border-radius: 3px;
  background: linear-gradient(36deg, pink, orange, violet, purple);
  margin-left: auto;
  margin-right: auto;
}

body .modal-bg_fade .contact-window .contact-window_underline:hover {
  background: linear-gradient(36deg, purple, violet, orange, pink);
}

body .modal-bg_fade .contact-window .contact-h2 {
  text-align: center;
  color: white;
  font-size: 3vw;
}

body .modal-bg_fade .contact-window .contact-p {
  color: white;
  font-size: 1.8vw;
}

body .modal-bg_fade .contact-window .contact-p_center {
  color: white;
  font-size: 1.8vw;
  text-align: center;
}

body .modal-bg_fade .contact-window .contact-avatar_pool {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (15vw)[2];
      grid-template-columns: repeat(2, 15vw);
  -webkit-column-gap: 6vw;
          column-gap: 6vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .modal-bg_fade .contact-window .contact-avatar_pool .my-photo_avatar {
  width: 15vw;
  height: 15vw;
  background-color: white;
  margin: 1vw;
  border-radius: 50%;
}

body .modal-bg_fade .contact-window .social-media_buttons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[4];
      grid-template-columns: repeat(4, 10vw);
  -webkit-column-gap: 4vw;
          column-gap: 4vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vw;
}

body .modal-bg_fade .contact-window .social-media_buttons img {
  width: 10vw;
}

main {
  border-radius: 2.5vw;
  background: #282828;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding: 3vw;
  width: 85vw;
}

main .download-pool {
  width: 1fr;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
  margin-top: 2vw;
  padding: 1vw;
}

main .download-pool .download-button {
  width: 100%;
  padding: 1vw;
  background: #282828;
  color: white;
  border: 2px solid orange;
  border-radius: 3px;
}

main .download-pool .download-button:hover {
  background: rgba(255, 166, 0, 0.5);
  color: black;
}

main .form-data_pool {
  width: 90%;
  padding: 2vw;
  margin: 2vw;
}

main .form-data_pool .input-textarea {
  height: 8vw;
}

main .form-data_pool .form-input_field {
  border: 2px solid orange;
  border-radius: 3px;
  background: #282828;
  padding: 0.5vw;
  width: 55vw;
  color: white;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

main .form-data_pool .form-input_selection {
  width: 20vw;
}

main .form-data_pool .input-form_button {
  width: 56.5vw;
  padding: 0.5vw;
  margin-top: 2vw;
  border: 2px solid orange;
  border-radius: 3px;
  background: #282828;
  color: white;
}

main .form-data_pool .input-form_button:hover {
  background: rgba(255, 166, 0, 0.5);
  color: white;
}

main .form-data_pool .input-form_button:active {
  background: red;
  border: 2px solid red;
  color: black;
}

main section .main-text_underline {
  background: linear-gradient(36deg, pink, orange, violet, purple);
  width: 30vw;
  height: 6px;
  border-radius: 3px;
}

main section .main-text_underline:hover {
  background: linear-gradient(36deg, purple, violet, orange, pink);
}

main section .main-text_underline_right {
  float: right;
  background: linear-gradient(36deg, pink, orange, violet, purple);
  width: 30vw;
  height: 6px;
  border-radius: 3px;
}

main section .main-text_underline_right:hover {
  background: linear-gradient(36deg, purple, violet, orange, pink);
}

main .center-offer_underline {
  background: linear-gradient(36deg, pink, orange, violet, purple);
  width: 30vw;
  height: 6px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

main .center-offer_underline:hover {
  background: linear-gradient(36deg, purple, violet, orange, pink);
}

main .center-offer_text {
  text-align: center;
  margin-top: 8vw;
}

main .introdution {
  text-align: center;
  margin-bottom: 7vw;
}

main .introdution h1 {
  font-size: 8vw;
  margin: 0;
}

main .main-text_align_right {
  text-align: right;
}

main .properties-button_pool {
  margin-top: 2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 0.5vw;
          column-gap: 0.5vw;
  row-gap: 0.5vw;
}

main .properties-button_pool .switch {
  border: 2px solid orange;
  border-radius: 6px;
  padding: 1vw;
  background: #282828;
  color: white;
  margin-bottom: 0.4vw;
  font-size: 15px;
}

main .properties-button_pool .switch:hover {
  background: rgba(255, 166, 0, 0.5);
  color: black;
}

main .properties-button_pool .switch:active {
  background: red;
  border: 2px solid red;
}

main .properties-button_pool .switch-active_button {
  background: orange;
  color: black;
}

main .properties-text_content {
  text-align: center;
}

main .properties-text_content .properties-tab_content {
  display: none;
}

main .center-properties_h2, main .center-form_h2 {
  text-align: center;
  margin-top: 5vw;
}

main .center-properties_underline, main .center-form_underline {
  background: linear-gradient(36deg, pink, orange, violet, purple);
  width: 30vw;
  height: 6px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

main .center-properties_underline:hover, main .center-form_underline:hover {
  background: linear-gradient(36deg, purple, violet, orange, pink);
}

main .slideshow-prevnext_buttons .prev, main .slideshow-prevnext_buttons .next {
  font-weight: bold;
  font-size: 1.8vw;
  color: orange;
  padding: 0.5vw;
  padding-right: 1vw;
  padding-left: 1vw;
  border: 2px solid orange;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 0.7vw;
}

main .slideshow-prevnext_buttons .prev:hover, main .slideshow-prevnext_buttons .next:hover {
  background: orange;
  color: black;
}

main .slideshow-prevnext_buttons .prev {
  float: left;
  margin-left: 10vw;
}

main .slideshow-prevnext_buttons .next {
  float: right;
  margin-right: 10vw;
}

main .slideshow-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vw;
  margin-top: 3vw;
  padding-bottom: 0;
}

main .slideshow-container .slideshow-caption_text {
  width: 100%;
  text-align: center;
  top: -59px;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1.8vw;
  color: white;
  background: rgba(40, 40, 40, 0.6);
  border-radius: 0 0 2vw 2vw;
}

main .slideshow-dot_pool {
  margin: 1vw;
}

main .slideshow-dot_pool .slideshow-dot {
  width: 1.5vw;
  height: 1.5vw;
  border: 2px solid orange;
  border-radius: 50%;
  background: #282828;
  margin: 1vw;
  display: inline-block;
}

main .slideshow-dot_pool .slideshow-dot:hover {
  background: rgba(255, 166, 0, 0.5);
  border: 2px solid rgba(255, 166, 0, 0.5);
}

main .slideshow-dot_pool .slideshow-dot:active {
  background-color: red;
  border: 2px solid red;
}

main .slideshow-dot_pool .slideshow-dot_active {
  background: orange;
}

main .invisible-slides {
  display: none;
}

main .invisible-slides img {
  width: 100%;
  border-radius: 2vw;
}

main .cards-offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 4%;
          column-gap: 4%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

main .cards-offer article {
  background-color: #141414;
  padding: 1.5vw;
  margin-bottom: 8%;
  border-radius: 18px;
  text-align: justify;
}

main .cards-offer article .img-silouette {
  width: 100%;
  margin-top: 2vw;
}

main .cards-offer article .card-offer_h3 {
  text-align: center;
  margin: 2%;
}

main .cards-offer article .card-offer_underline {
  background: linear-gradient(36deg, pink, orange, violet, purple);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

main .cards-offer article .card-offer_underline:hover {
  background: linear-gradient(36deg, purple, violet, orange, pink);
}

main .cards-offer article .card-offer_image {
  margin-top: 2vw;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: #282828;
  text-align: center;
  color: white;
  width: 100%;
  font-size: x-large;
}

header, footer {
  padding: 1.5vw;
}

@media screen and (min-width: 250px) {
  main {
    width: 85vw;
    font-size: large;
  }
  main .properties-button_pool {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .cards-offer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 530px) {
  main {
    width: 75vw;
    font-size: large;
  }
  main .properties-button_pool {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .cards-offer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 650px) {
  main {
    width: 85vw;
    font-size: large;
  }
  main .properties-button_pool {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  main .cards-offer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 950px) {
  main {
    width: 75vw;
    font-size: large;
  }
  main .properties-button_pool {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  main .cards-offer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1300px) {
  main {
    width: 65vw;
    font-size: large;
  }
  main .properties-button_pool {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  main .cards-offer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  main {
    width: 80vw;
    font-size: large;
  }
  main .properties-button_pool {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  main .cards-offer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

/* minmax(), grid-auto-rows, grid-column, grid-row*/
/*# sourceMappingURL=index.css.map */