$pozadie: linear-gradient(36deg,  pink, orange, violet, purple);
$pozadie_obratene: linear-gradient(36deg,  purple, violet, orange, pink);
$purple: rgb(225, 0, 255);
$dark_back: rgb(40, 40, 40);
$orange_fade: rgba(255, 166, 0, 0.5);

header {
    width: 100%;
    height: 9vw;
    background: rgb(40, 40, 40);
    display: grid;
    grid-template-columns: auto 1fr;
    img {
        height: 9vw;
    }
    nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: stretch;
        align-content: center;
        grid-gap: 5vw;
        margin-right: 5vw;
        margin-left: 15vw;
        a {
            cursor: pointer;
            padding: 1.2vw;
            background: rgb(40, 40, 40);
            text-decoration: none;
            border: 3px solid orange;
            color: orange;
            border-radius: 6px;
            text-align: center;
            font-size: 20px;
            transition: 0.2s;
            &:hover {
                background: $orange_fade;
                color: black;
            }
            &:active {
                background: $purple;
                border: 3px solid $purple;
            }
        }
        .navbar-a_active {
            background-color: orange;
            color: black;
        }
    }
}



body {
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 19vw 1fr auto;
    padding: 0;
    margin: 0;
    background: $pozadie;
    font-family: calibri;
    background-attachment: fixed;
    font-size: large;
    b, i {
        color: orange;
        transition: 0.2s;
        &:hover {
            font-size: 20px;
        }
    }
    .modal-bg_fade {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        .contact-window {
            position: absolute;
            top: 20vw;
            left: 6vw;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            background: $dark_back;
            padding: 4vw;
            border-radius: 2vw;
            .close-button {
                cursor: pointer;
                font-size: 5vw;
                position: relative;
                color: orange;
                float: right;
                transition: 0.2s;
                &:hover {
                    color: red;
                }
            }
            .contact-window_underline {
                width: 30vw;
                height: 6px;
                border-radius: 3px;
                background: $pozadie;
                margin-left: auto;
                margin-right: auto;
                transition: 0.2s;
                &:hover {
                    background: $pozadie_obratene;
                }
            }
            .contact-h2 {
                text-align: center;
                color: white;
                font-size: 3vw;
            }
            .contact-p {
                color: white;
                font-size: 1.8vw;
            }
            .contact-p_center {
                color: white;
                font-size: 1.8vw;
                text-align: center;
            }
            .contact-avatar_pool {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 15vw);
                column-gap: 6vw;
                justify-content: center;
                .my-photo_avatar {
                    width: 15vw;
                    height: 15vw;
                    background-color: white;
                    margin: 1vw;
                    border-radius: 50%;
                    transition: 0.3s;
                    &:hover {
                        width: 18vw;
                        height: 18vw;
                    }
                }
            }
            .social-media_buttons {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 10vw);
                column-gap: 4vw;
                justify-content: center;
                margin-top: 3vw;
                img {
                    width: 10vw;
                    transition: 0.3s;
                    &:hover {
                        width: 8vw;
                        height: 8vw;
                    }
                }
            }
        }
    }
}

main {
    border-radius: 2.5vw;
    background: $dark_back;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 3vw;
    width: 85vw;
    .countdown {
        padding: 2vw;
        text-align: center;
        font-size: 4vw;
        transition: 0.5s;
        &:hover {
            font-size: 5vw;
        }
    }
    .download-pool {
        width: 1fr;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1vw;
        margin-top: 2vw;
        padding: 1.5vw;
        background: rgb(30, 30, 30);
        border-radius: 2vw;
        .download-button {
            width: 100%;
            padding: 1vw;
            background: $dark_back;
            color: white;
            border: 2px solid orange;
            border-radius: 3px;
            transition: 0.2s;
            &:hover {
                background: $orange_fade;
                color: black;
            }
        }
    }
    .form-data_pool {
        width: 90%;
        padding: 2vw;
        margin: 2vw;
        background: rgb(30, 30, 30);
        border-radius: 2vw;
        .input-textarea {
            height: 8vw;
        }
        .form-input_field {
            border: 2px solid orange;
            border-radius: 3px;
            background: $dark_back;
            padding: 0.5vw;
            width: 97%;
            color: white;
            margin-top: 0.5vw;
            margin-bottom: 0.5vw;
        }
        .form-input_selection {
            width: 20vw;
        }
        .input-form_button {
            width: 99.5%;
            padding: 0.5vw;
            margin-top: 2vw;
            border: 2px solid orange;
            border-radius: 3px;
            background: $dark_back;
            color: white;
            transition: 0.2s;
            &:hover {
                background: $orange_fade;
                color: white;
            }
            &:active {
                background: $purple;
                border: 2px solid $purple;
                color: black;
            }
        }
    }
    section {
        .main-text_underline {
            background: $pozadie;
            width: 30vw;
            height: 6px;
            border-radius: 3px;
            transition: 0.2s;
            &:hover {
                background: $pozadie_obratene;
            }
        }
        .main-text_underline_right {
            float: right;
            background: $pozadie;
            width: 30vw;
            height: 6px;
            border-radius: 3px;
            transition: 0.2s;
            &:hover {
                background: $pozadie_obratene;
            }
        }
    }
    .center-offer_underline {
        background: $pozadie;
        width: 30vw;
        height: 6px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        transition: 0.2s;
        &:hover {
            background: $pozadie_obratene;
        }
    }
    .center-offer_text {
        text-align: center;
        margin-top: 8vw;
    }
    .introdution {
        text-align: center;
        margin-bottom: 7vw;
        h1 {
            font-size: 8vw;
            margin: 0;
        }
        p {
            a{
                text-decoration: none;
                color: orange;
                font-size: 20px;
                transition: 0.2s;
                &:hover {
                    color: $purple;
                    font-weight: bold;
                }
                &:active {
                    color: $purple;
                }
            }
        }
    }
    .main-text_align_right {
        text-align: right;
    }
    .properties-button_pool {
        margin-top: 2vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-template-rows: auto;
        column-gap: 0.5vw;
        row-gap: 0.5vw;
        .switch {
            cursor: pointer;
            border: 2px solid orange;
            border-radius: 6px;
            padding: 1vw;
            background: $dark_back;
            color: white;
            margin-bottom: 0.4vw;
            font-size: 15px;
            transition: 0.2s;
            &:hover {
                background: $orange_fade;
                color: black;
            }
            &:active {
                background: $purple;
                border: 2px solid $purple;
            }
        }
        .switch-active_button {
            background: orange;
            color: black;
        }
    }
    .properties-text_content {
        text-align: center;
        .properties-tab_content {
            display: none;
        }
    }
    .center-properties_h2, .center-form_h2 {
        text-align: center;
        margin-top: 5vw;
    }
    .center-properties_underline, .center-form_underline {
        background: $pozadie;
        width: 30vw;
        height: 6px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        transition: 0.2s;
        &:hover {
            background: $pozadie_obratene;
        }
    }
    .slideshow-prevnext_buttons {
        .prev, .next {
            font-weight: bold;
            font-size: 1.8vw;
            color: orange;
            padding: 0.5vw;
            padding-right: 1vw;
            padding-left: 1vw;
            border: 2px solid orange;
            border-radius: 8px;
            user-select: none;
            margin-top: 0.7vw;
            transition: 0.2s;
            &:hover {
                background: orange;
                color: black;
            }
            &:active {
                background: $purple;
                border: 2px solid $purple;
            }
        }
        .prev {
            float: left;
            margin-left: 10vw;
        }
        .next {
            float: right;
            margin-right: 10vw;
        }
    }
    .slideshow-container {
        width: 100%;
        height: 36vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2vw;
        margin-top: 3vw;
        padding-bottom: 0;
    }
    .slideshow-dot_pool {
        margin: 1vw;
        .slideshow-dot {
            width: 1.5vw;
            height: 1.5vw;
            border: 2px solid orange;
            border-radius: 50%;
            background: $dark_back;
            margin: 1vw;
            display: inline-block;
            transition: 0.2s;
            &:hover {
                background: $orange_fade;
                border: 2px solid $orange_fade;
            }
            &:active {
                background: $purple;
                border: 2px solid $purple;
            }
        }
        .slideshow-dot_active {
            background: orange;
        }
    }
    .invisible-slides {
        display: none;
        img {
            width: 100%;
            border-radius: 2vw;
        }
        .slideshow-caption_text {
            width: 100%;
            text-align: center;
            top: -51px;                    //fixnut polohu caption textu
            position: relative;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 18px;
            color: white;
            background: rgba(40, 40, 40, 0.6);
            border-radius: 0 0 2vw 2vw;
        }
    }
    .cards-offer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-template-rows: auto;
        column-gap: 4%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        article {
            background-color: rgb(20, 20, 20);
            padding: 1.5vw;
            margin-bottom: 8%;
            border-radius: 18px;
            text-align: justify;
            .img-silouette {
                width: 100%;
                margin-top: 2vw;
            }
            .card-offer_h3 {
                text-align: center;
                margin: 2%;
            }
            .card-offer_underline {
                background: $pozadie;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                transition: 0.2s;
                &:hover {
                    background: $pozadie_obratene;
                }
            }
            .card-offer_image {
                margin-top: 2vw;
                display: block;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                transition: 0.4s;
                &:hover {
                    width: 100%;
                }
            }
        }
    }
}

footer {
    background: rgb(40, 40, 40);
    text-align: center;
    color: white;
    width: 100%;
    font-size: x-large;
    
}

header, footer {
    padding: 1.5vw;
}

//Mobil vyska
@media screen and (min-width: 250px){
    main {
        width: 85vw;
        .properties-button_pool {
            grid-template-columns: repeat(2, 1fr);
        }
        .cards-offer {
            grid-template-columns: 1fr;
        }
    }
}

//Tablet vyska
@media screen and (min-width: 530px) {
    main {
        width: 75vw;
        .properties-button_pool {
            grid-template-columns: repeat(2, 1fr)
        }
        .cards-offer {
            grid-template-columns: 1fr;
        }
    }
}

//Mobil sirka
@media screen and (min-width: 650px) {
    main {
        width: 85vw;
        .properties-button_pool {
            grid-template-columns: repeat(3, 1fr);
        }
        .cards-offer {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

//Tablet sirka
@media screen and (min-width: 950px) {
    main {
        width: 75vw;
        .properties-button_pool {
            grid-template-columns: repeat(6, 1fr);
        }
        .cards-offer {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

//Notebook
@media screen and (min-width: 1300px) {
    main {
        width: 65vw;
        .properties-button_pool {
            grid-template-columns: repeat(6, 1fr);
        }
        .cards-offer {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

//Velke obrazovky
@media screen and (min-width: 1500px) {
    main {
        width: 80vw;
        .properties-button_pool {
            grid-template-columns: repeat(6, 1fr);
        }
        .cards-offer {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* minmax(), grid-auto-rows, grid-column, grid-row*/