$pozadie: linear-gradient(36deg,  pink, orange, violet, purple);
$pozadie_obratene: linear-gradient(36deg,  purple, violet, orange, pink);
$purple: rgba(172, 0, 172, 0.9);

header {
    width: 100%;
    height: 9vw;
    background: rgb(40, 40, 40);
    display: grid;
    grid-template-columns: auto 1fr;
    img {
        height: 9vw;
    }
    nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: stretch;
        align-content: center;
        grid-gap: 5vw;
        margin-right: 5vw;
        margin-left: 15vw;
        a {
            padding: 1.2vw;
            background: rgb(40, 40, 40);
            text-decoration: none;
            border: 3px solid orange;
            color: orange;
            border-radius: 6px;
            text-align: center;
            font-size: 20px;
            &:hover {
                background: orange;
                color: rgb(40, 40, 40);
            }
        }
    }
}



body {
    display: grid;
    grid-template-rows: 19vw 1fr auto;
    padding: 0;
    margin: 0;
    background: $pozadie;
    font-family: calibri;
    background-attachment: fixed;
}

main {
    border-radius: 2.5vw;
    background: rgb(40, 40, 40);
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 3vw;
    width: 85vw;
    section {
        .main-text_underline {
            background: $pozadie;
            width: 30vw;
            height: 6px;  //1.2vw
            border-radius: 3px;  //0.6vw
            &:hover {
                background: $pozadie_obratene;
            }
        }
        .main-text_underline_right {
            float: right;
            background: $pozadie;
            width: 30vw;
            height: 6px;  //1.2vw
            border-radius: 3px;  //0.6vw
            &:hover {
                background: $pozadie_obratene;
            }
        }
    }
    .center-offer_underline {
        background: $pozadie;
        width: 30vw;
        height: 6px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        &:hover {
            background: $pozadie_obratene;
        }
    }
    .center-offer_text {
        text-align: center;
        margin-top: 8vw;
    }
    .introdution {
        text-align: center;
        margin-bottom: 7vw;
        h1 {
            font-size: 8vw;
            margin: 0;
        }
    }
    .main-text_align_right {
        text-align: right;
    }
    .properties-button_pool {
        margin-top: 2vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-content: stretch;
        .switch {
            border: 2px solid orange;
            border-radius: 6px;
            padding: 1vw;
            margin-right: 0.4vw;
            background: rgb(40, 40, 40);
            color: white;
            &:hover {
                background: orange;
                color: black;
            }
        }
    }
    .properties-text_content {
        text-align: center;
    }
    .center-properties_h2 {
        text-align: center;
        margin-top: 5vw;
    }
    .center-properties_underline {
        background: $pozadie;
        width: 30vw;
        height: 6px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        &:hover {
            background: $pozadie_obratene;
        }
    }
    .cards-offer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-template-rows: auto;
        column-gap: 4%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        article {
            background-color: rgb(20, 20, 20);
            padding: 1.5vw;
            margin-bottom: 8%;
            border-radius: 18px;
            text-align: justify;
            .card-offer_h3 {
                text-align: center;
                margin: 2%;
            }
            .card-offer_underline {
                background: $pozadie;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                &:hover {
                    background: $pozadie_obratene;
                }
            }
            .card-offer_image {
                display: block;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

footer {
    background: rgb(40, 40, 40);
    text-align: center;
    color: white;
    width: 100%;
    font-size: x-large;
}

header, footer {
    padding: 1.5vw;
}

//Mobil vyska
@media screen and (min-width: 100px){
    main {
        width: 85vw;
        font-size: large;
    }
}

//Tablet vyska
@media screen and (min-width: 530px) {
    main {
        width: 75vw;
        font-size: large;
    }
}

//Mobil sirka
@media screen and (min-width: 650px) {
    main {
        width: 85vw;
        font-size: large;
    }
}

//Tablet sirka
@media screen and (min-width: 950px) {
    main {
        width: 75vw;
        font-size: large;
    }
}

//Notebook
@media screen and (min-width: 1300px) {
    main {
        width: 65vw;
        font-size: large;
    }
}

//
@media screen and (min-width: 1500px) {
    main {
        width: 80vw;
        font-size: large;
    }
}

/* minmax(), grid-auto-rows, grid-column, grid-row*/