header {
  width: 100%;
  background: #282828;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-gap: 5vw;
}

header img {
  height: 17vw;
  margin-left: 1vw;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 5vw;
  margin-right: 3vw;
  margin-left: 25vw;
}

header nav a {
  padding: 1.2vw;
  background: #282828;
  text-decoration: none;
  border: 3px solid rgba(172, 0, 172, 0.9);
  color: rgba(172, 0, 172, 0.9);
  border-radius: 6px;
  text-align: center;
  font-size: 2vw;
}

header nav a:hover {
  background: rgba(172, 0, 172, 0.9);
  color: #282828;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 19vw 1fr auto;
      grid-template-rows: 19vw 1fr auto;
  padding: 0;
  margin: 0;
  background: linear-gradient(36deg, pink, orange, violet, purple);
  font-family: calibri;
  background-attachment: fixed;
}

main {
  border-radius: 3vw;
  width: 60vw;
  background: #282828;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding: 3vw;
}

main section div {
  background: linear-gradient(36deg, pink, orange, violet, purple);
  width: 25vw;
  height: 6px;
  border-radius: 3px;
}

main section div:hover {
  background: linear-gradient(36deg, purple, violet, orange, pink);
}

main section p {
  font-size: 1.2vw;
}

main section h2 {
  font-size: 2vw;
}

main #ponuka {
  background: linear-gradient(36deg, pink, orange, violet, purple);
  width: 25vw;
  height: 6px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

main #ponuka:hover {
  background: linear-gradient(36deg, purple, violet, orange, pink);
}

main #center {
  text-align: center;
  font-size: 2vw;
}

main div.uvod {
  text-align: center;
  margin-bottom: 7vw;
  font-size: 1.2vw;
}

main div.uvod h1 {
  font-size: 7vw;
  margin: 0;
}

main .right {
  text-align: right;
}

main .right_div {
  float: right;
}

main .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (31%)[3];
      grid-template-columns: repeat(3, 31%);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 4%;
          column-gap: 4%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

main .cards article {
  background-color: #141414;
  padding: 1.5vw;
  border-radius: 18px;
  text-align: justify;
}

main .cards article div {
  background: linear-gradient(36deg, pink, orange, violet, purple);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

main .cards article div:hover {
  background: linear-gradient(36deg, purple, violet, orange, pink);
}

main .cards article img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: #282828;
  text-align: center;
  color: white;
  width: 100%;
  font-size: 2vw;
}

header, footer {
  padding: 1%;
}

/* minmax(), grid-auto-rows, grid-column, grid-row*/
/*# sourceMappingURL=layout.css.map */